

/* 01000100 01100001 01101110 01101001 01100101 01101100 00100000 01000011 01110010 01110101 01111010
*/
html, body {
  width: 100% !important;
}
@font-face {
  font-family:"Pokemon Solid";
  src=:url(Pokemon Solid.ttf);
}
.fullContainer, .fullWidth {
  /* Full Size Container */
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* Header Bar Style */
.header {
  height: 80px;
  background-color: #FE3E31; /*Red Color*/
  width: 100%;
  /* Vertical and Horizontal Align */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* Pokedex Title Style */
.title {
  font-family: 'Rammetto One', cursive;
  color: #FFFFFF;
}
/* Pokemon Container */
.divInfo {
  border: 3px solid black;
  height: 250px;
  background-color: #FDF5DE;
  /* Picture Aling */
  display:flex;
  /* Vertical Align */
  align-items: center;
  /* Horizontal Align */
  justify-content: center;
  box-shadow: 3px 2px 5px #54585C;
}
/* Width Pokemon Picture */
.pokePicture {
  width: 200px;
  transition: .5s;
}
.pokePicture:hover {
  transform: scale(1.2);
}
/* Name of the Pokemon Style */
.pokeName {
  padding: 10px;
  padding-left:5px; 
  text-transform: capitalize;
  font-family: 'Coiny', cursive;
  font-size: 25px;
}

.details
{
	position: absolute;
	top: 10px;
	left: 25px;
	bottom: 10px;
	right: 25px;
	background: rgba(0,0,0,.8);
  opacity: 0;
  transition: 1s;
}
.details:hover  {
  opacity: 100;
}
.content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
